<div class="custom-header">

    <div class="custom-header-media">
      {{ function('the_custom_header_markup') }}
    </div>

  {% include "header/site-branding.twig" %}

</div><!-- .custom-header -->
