<span class="posted-on">
  {% include 'content/time-link.twig' %}
</span>
<span class="byline"> {{ __( 'by', 'twentyseventeen') }}<span class="author vcard"><a class="url fn n" href="">{{ post.author.name}}</a></span></span>
