{% if (sidebar2 or sidebar3)  %}
  <aside class="widget-area" role="complementary">
    {% if sidebar2 %}
      <div class="widget-column footer-widget-1">
        {{ sidebar2 }}
      </div>
    {% endif %}

    {% if sidebar3 %}
      <div class="widget-column footer-widget-2">
        {{ sidebar3 }}
      </div>
    {% endif %}
  </aside><!-- .widget-area -->
{% endif %}
