<div class="site-info">
  <a href="{{ __( 'https://wordpress.org/', 'twentyseventeen' ) | e('esc_url') }}">
      {{ __( 'Proudly powered by %s', 'twentyseventeen' )|format('WordPress') }}
  </a>
</div><!-- .site-info -->
