{% extends "base.twig" %}

{% block content %}
  <div class="wrap">
    {% if posts %}
      <header class="page-header">
        <h1 class="page-title">{{ title }}</h1>
        <div class="taxonomy-description">{{ function('get_the_archive_description') }}</div>
      </header><!-- .page-header -->
    {% endif %}

    <div id="primary" class="content-area">
      <main id="main" class="site-main" role="main">
        {% if posts %}
          {% for post in posts %}

          {% endfor %}

          {{
            function('the_posts_pagination', {
              'prev_text' : twentyseventeen_get_svg( { 'icon' : 'arrow-left' } ) . '<span class="screen-reader-text">' . __( 'Previous page', 'twentyseventeen' ) . '</span>',
              'next_text' : '<span class="screen-reader-text">' . __( 'Next page', 'twentyseventeen' ) . '</span>' . twentyseventeen_get_svg( { 'icon' : 'arrow-right' } ),
              'before_page_number' : '<span class="meta-nav screen-reader-text">' . __( 'Page', 'twentyseventeen' ) . ' </span>',
            })
          }}
        {% else %}
            {% include 'post/content-none.twig' %}
        {% endif %}


  </div><!-- .wrap -->
{% endblock %}
