{% extends "base.twig" %}

{% block content %}
	<div class="wrap">
		<div id="primary" class="content-area">
			<main id="main" class="site-main" role="main">
        {% if post %}
				  {% include "page/content-page.twig"  with {post:post} %}
        {% endif %}
			</main><!-- #main -->
		</div><!-- #primary -->
	</div><!-- .wrap -->
{% endblock %}
