{% extends "base.twig" %}

{% block content %}
	<div class="wrap">
		<div id="primary" class="content-area">
			<main id="main" class="site-main" role="main">
				{% if post %}
					{% set format = post.post_type %}
			    {% include ['post/content-' ~ post.format ~ '.twig', 'post/content.twig'] with {post:post} %}

			    {% if function('comments_open') or post.get_comment_count %}
						{% include 'comments.twig' %}
			    {% endif %}

	        {{
	        	function('the_post_navigation',
	    				{
	    					'prev_text' : '<span class="screen-reader-text">' ~ __( 'Previous Post', 'twentyseventeen' ) ~ '</span><span aria-hidden="true" class="nav-subtitle">' ~ __( 'Previous', 'twentyseventeen' ) ~ '</span> <span class="nav-title"><span class="nav-title-icon-wrapper">' ~ twentyseventeen_get_svg( {'icon' : 'arrow-left' } ) ~ '</span>%title</span>',
	    					'next_text' : '<span class="screen-reader-text">' ~ __( 'Next Post', 'twentyseventeen' ) ~ '</span><span aria-hidden="true" class="nav-subtitle">' ~ __( 'Next', 'twentyseventeen' ) ~ '</span> <span class="nav-title">%title<span class="nav-title-icon-wrapper">' ~ twentyseventeen_get_svg( {'icon' : 'arrow-right'} ) ~ '</span></span>',
	    				}
	    			)
	    		}}

				{% endif %}
			</main><!-- #main -->
		</div><!-- #primary -->
		{{ sidebar }}
	</div><!-- .wrap -->
{% endblock %}
