{% if '' != function('get_the_post_thumbnail') and not is_single() %}
  <div class="post-thumbnail">
    <a href="<?php the_permalink(); ?>">
      {{ function('the_post_thumbnail', 'twentyseventeen-featured-image') }}
    </a>
  </div><!-- .post-thumbnail -->
{% endif %}
